body {
    font-family: 'Euclid Circular A', sans-serif !important;
}

p {
    padding: 5px;
    margin: 0 !important;
}

input {
    padding: 5px;
    border-radius: 5px;
}

.custom-jumbotron {
    background: linear-gradient(0deg, #ff00964d, #ff00964d), url(../images/Cloud-100s-1084px.svg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#sig {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #4d002d62;
    color: #ffffff;
}

#search-btn,
#clear-btn {
    margin-top: 10px;
}

.custom-btn {
    background-color: #4D002D !important;
    color: white !important;
}

.searched-btns {
    background-color: #4D002D !important;
    color: white !important;
}

.btn-list {
    margin-top: 5px !important;
}

.custom-list {
    list-style: none;
    margin: 5px;
}

#results-today {
    align-items: center;
}

#five-day-forecast {
    margin: 50px 0;
}

.modal {
    top: 140px !important;
}

.modal-header {
    background-color: #4D002D;
    color: white;
}

#modalText {
    font-size: 20px;
}

.row {
    justify-content: space-around;
}

.col {
    display: flex !important;
    flex-direction: column !important;
}

.card {
    margin: 10px;
    border-color: #ffffff !important;
}

#custom-card-body {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.results {
    align-self: flex-end;
    float: right;
}

#weather-details {
    width: 65%
}

#city-name {
    text-transform: capitalize;
    margin-top: 10px;
}

.weather-icon {
    width: max-content !important;
    margin: -35px 0 -20px 0 !important;
}

.mini-weather-icon {
    width: 100px !important;
    margin: -20px 0 -20px 0 !important;
}

/* Shape Divider */
.custom-shape-divider-bottom-1675017698 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675017698 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 126px;
}

.custom-shape-divider-bottom-1675017698 .shape-fill {
    fill: #4D002D;
}

.hide {
    display: none
}

.footer {
    background-color: #535353;
}

@media only screen and (max-width: 990px) {
    .custom-shape-divider-bottom-1675017698 {
        display: none;
    }
}